{# empty Twig template #}
{% extends "AppBundle::sgk_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/app/css/sgk_download.css')}}" />
{% endblock %}
{% block header %}{% include 'AppBundle:Sgk:header.html.twig'%}{% endblock%}
{% block contents %}
    <div >
        <div>
            <span class="size28 bold">벽지</span><br>            
        </div>
        자유롭게 퍼가셔도 좋습니다.<br>
        <div id="">
            <div class="wallpapers center">
                <img class="wpimg" src="">
                <a href="">1920x1080</a><br>
                <a href="">1680x1050</a><br>
                <a href="">1280x720</a><br>
            </div>  
            <div class="wallpapers center">
                <img class="wpimg" src="">
                <a href="">1920x1080</a><br>
                <a href="">1680x1050</a><br>
                <a href="">1280x720</a><br>
            </div>
            <div class="wallpapers center">
                <img class="wpimg" src="">
                <a href="">1920x1080</a><br>
                <a href="">1680x1050</a><br>
                <a href="">1280x720</a><br>
            </div>  
            <div class="wallpapers center">
                <img class="wpimg" src="">
                <a href="">1920x1080</a><br>
                <a href="">1680x1050</a><br>
                <a href="">1280x720</a><br>
            </div>
            <div class="clear"></div>
        </div>
        <br>
        <div>
            <span class="size28 bold">퍼스나콘</span><br>
        </div>
        200x200px의 캐릭터 아이콘입니다.<br>
        페이스북, 트위터 등지에서의 활용을 상정하고 있습니다.<br>
        자유롭게 퍼가셔도 좋습니다.<br>
        <div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
            <div class ="persnacons">
                <img class="psimg" src="{{'bundles/app/image/jokerforge_logo_02.png'}}">
            </div>
        </div>
    </div>
{% endblock%}
{% block side %}
    {% include 'AppBundle:Sgk:sidebar.html.twig'%}
{% endblock %}