<div id="jokerHead">
    <div id="headerBack" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_08_down.png')}})"></div>
    <div id="headConents">
    <img id="logo" src="{{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_01_logo.png')}}">
    <div id="remocon">
        <div id="rem1" class="rembutton selected float" onclick="scrolling(0)" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_03_bt_1_main_basic.png')}})">
            <div id="mirror1" class="mirror" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/bt_rollup/menu_bar_1_main_rollup.png')}})"></div>
        </div>
        <div id="rem2" class="rembutton float" onclick="scrolling(1)" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_04_bt_2_portfolio_basic.png')}})">
            <div id="mirror2" class="mirror" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/bt_rollup/menu_bar_2_portfolio_rollup.png')}})"></div>
            </div>
        <div id="rem3" class="rembutton float" onclick="scrolling(2)"  style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_05_bt_3_jokerforge_basic.png')}})">
            <div id="mirror3" class="mirror" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/bt_rollup/menu_bar_3_jokerforge_rollup.png')}})"></div>
            </div>
        <div id="rem4" class="rembutton float" onclick="scrolling(3)"  style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_06_bt_4_profile_basic.png')}})">
            <div id="mirror4" class="mirror" style="background-image:url({{asset('bundles/app/image/jokerforge/menu_bar/bt_rollup/menu_bar_4_profile_rollup.png')}})"></div>
            </div>       
    </div></div>
    <div class="clear"></div>
</div>