<nav class="session-nav">
        <ul>
                <li><a href="{{url("sgk01",{"chapter":0})}}"><img alt="제0장" src="{{asset('bundles/app/image/sgk_sessionB01_1.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":1})}}"><img alt="제1장" src="{{asset('bundles/app/image/sgk_sessionB01_2.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":2})}}"><img alt="제2장" src="{{asset('bundles/app/image/sgk_sessionB01_3.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":3})}}"><img alt="제3장" src="{{asset('bundles/app/image/sgk_sessionB01_4.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":4})}}"><img alt="제4장" src="{{asset('bundles/app/image/sgk_sessionB01_5.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":5})}}"><img alt="제5장" src="{{asset('bundles/app/image/sgk_sessionB01_6.png')}}"></a></li>
                <li><a href="{{url("sgk01",{"chapter":6})}}"><img alt="최종장" src="{{asset('bundles/app/image/sgk_sessionB01_7.png')}}"></a></li>
        </ul>
</nav>                        
