<div id="content3" class="contentBox">    
    <div id="philoBg" class="jBackgroud" style="background-image:url({{asset('bundles/app/image/jokerforge/3p_jokerforge/jokerforge_bg.png')}})"></div>
    <div id="philo1" class="box philos" style="background-image:url({{asset('bundles/app/image/jokerforge/3p_jokerforge/jokerforge_trpg_lore.png')}})">
{#        <span class="red size28">Old Man's TRPG Lore</span><br>
        <div class="line"></div>#}
    <div id="philo1Text" class="size16 line_height">
        제작년/작년에 이어서, 이 불모지같던 한국에도 아날로그 게임이 속속 등장했습니다.<br>
        우리가 TRPG로 부르는 이 팬&페이퍼 게임은, 미국에서부터 들어와 컴퓨터 게임이 없던 시절부터 사람들에게 사랑받기 시작했습니다. <br>
        하지만 시작점이 된 미국에서조차 더 화려한 디지털 게임에 밀려 왕좌에서 내려온 것 처럼 보입니다.<br>
        미국이 저런데 한국은 오죽했을까요. 알음알음 하는 사람만 하며 중세 암흑기 같은 세월을 지내왔습니다.<br>
        하지만 지금은 마치 제2의 부흥기, 그야말로 르네상스를 맞이한 것 처럼 보입니다.<br>
        현재 다양한 출판브랜드에 의해, 많은 게임이 열정적으로 시장에 공급되고 있습니다.<br>
        그러나 다른 장르에 비교하면 아직은 좁은 우물입니다. <br>
        </div>
    </div>
    <div id="philo2" class="box philos"  style="background-image:url({{asset('bundles/app/image/jokerforge/3p_jokerforge/jokerforge_quantum_shift.png')}})">
{#        <span class="red size28">Quantum Shift</span><br>
        <div class="line"></div>#}
    <div id="philo2Text" {#class="size14 line_height"#}>
        분명 아날로그 게임에는 디지털에선 느낄수 없는 <span class="bold red">맛</span>이 있습니다.<br>
        TRPG라는건 본질적으로 오래된 틀 속에서 움직이는 게임입니다.<br>
        테이블, 필기구, 주사위, 상상력, 잘 모이는 사람들만 있다면 언제라도 위대한 모험을 떠날 수 있었죠.<br>
        그러나 이제 세상이 변화하고 있습니다.<br>
        사람들은 더 이상 즐거움을 위해 무거운 종이뭉치를 들고 다니지 않습니다.<br>
        그들에겐 종이뭉치보다 가벼운 스마트폰과 그것으로 즐길 수 있는 게임이 있으니까요.<br>
        우리는 종이책 출판이라는 틀을 넘어 새로운 도약을 시도해야합니다.<br>
    </div>
    </div>
    <div id="philo3" class="box philos" style="background-image:url({{asset('bundles/app/image/jokerforge/3p_jokerforge/jokerforge_paradigm_world.png')}})">
        {#<span class="red size28">Change the Paradigm, Change the World!</span><br>
        <div class="line"></div>#}
        <div id="philo3Text" class="size16 line_height">
        아날로그의 틀을 깨면서도 아날로그의 <span class="bold red">맛</span>을 전하려면 무엇이 필요할까요?<br>
        이를 위해선 최신 기술력이 필요합니다.<br>
        심도깊은 견해와 뛰어난 창의성이 필요합니다.<br>
        국내 티알피지 시장이 우물에서 나와 세상을 바꾸려면, 패러다임의 전환이 필요합니다.<br>
        조커 포지는 가장 아날로그적인 감성을 디지털에 불어넣습니다.<br>
        최고의 익살꾼은 최고의 재주꾼이기도 합니다.<br>
        다음 세대에게 감동을 전합시다.<br>
        우리가 처음 주사위를 굴렸을 때 느꼈던 그 감동을요.<br>
        </div>
        <br><br>
        <div class="right">
        2015년 2월 14일,<br>
        모니터 너머로 어느 TRPG팀의 플레이를 지켜보며.<br>
        <span class="red bold">J</span>okerForge 대표<br>
        조준형<br>
        </div>
    </div>
    <div id="ceoPhoto" class=" photos box" style="background-image:url({{asset('bundles/app/image/jokerforge/3p_jokerforge/ceo.jpg')}})"></div>
</div>
