<div id="content2" class="contentBox">
{#    <a href="{{url("sgk_index")}}">#}
        <div id="sgk_bg"class="card_bg cover repeat"></div>
        <div id="sgk_panel" class="products box" >
            <img class="panels" src="{{asset("bundles/app/image/jokerforge/2p_portfolio/portfolio_swhwa.png")}}">                        
            <div id="sgk_des" class="paneldes leftline cover" style="background-image:url({{asset('bundles/app/image/jokerforge/2p_portfolio/portfolio_swhwa_text.png')}})">
                <br><span class="size24 bold">설월화</span><br>
                <span class="size18 red bold">『결정해라. <br>
                네가 들고있는 그 꽃은 무슨 색이냐?』</span><br>
                <span class="line_height">세계를 바꿔쓰려는 자들의 기록.<br>
                미디어의 틀을 넘나들며 전개되는, 신본격 왕도 현대전기 시리즈.<br></span>
            </div>
            <div class="clear"> </div>
        </div>
{#    </a>#}
    <a href="{{url("haunted_main")}}">
        <div id="hs_bg"class="card_bg cover repeat" ></div>        
        <div id="hs_panel" class="products box">
            <img class="panels" src="{{asset("bundles/app/image/jokerforge/2p_portfolio/portfolio_bschool.png")}}">            
            <div id="hs_des" class="paneldes leftline cover" style="background-image:url({{asset('bundles/app/image/jokerforge/2p_portfolio/portfolio_bschool_text.png')}})">
                <br><span class="size24 bold">헌티드스쿨</span><br>
                <span class="size18 red bold">『그래도――――너는 옳다』</span><br>
                <span class="line_height">치닫고 싸우며 방황하는 고교생들의 이야기.<br>
                오즈월드의 집대성을 TRPG화!<br>
                계란계란 x 조커포지의 헌티드스쿨 TRPG 프로젝트.<br></span>
            </div>
            <div class="clear"></div>
        </div>
    </a>
{#    
    <a href="">
        <div class=" products box"></div>
    </a>
    <a href="">
        <div class=" products box"></div>
    </a>
    <a href="">
        <div class=" products box"></div>
    </a>
    <a href="">
        <div class=" products box"></div>
    </a>
#}
</div>

<script>
    
</script>